* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #d6b3ff;
  --black: #212529;
  --purple: #6f42c1;
  --green: #28a745;
  --light-green: #8fd19e;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  color: var(--black);
}

.board {
  width: 500px;
  height: 500px;
  background-color: var(--bg-color);
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid var(--black);
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 52px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.square:active {
  background-color: var(--purple);
}
